<div class="carousel">
    <div class="carousel-container">
        <img class="carousel-arrow-left" src="../svg/arrow_left.svg" alt="<"/>
        <div class="carousel-hider">
            <ul class="carousel-list">

            </ul>
        </div>
        <img class="carousel-arrow-right" src="../svg/arrow_right.svg" alt=">"/>
    </div>
    <div class="carousel-dots"></div>
</div>