<div class="content-block publish-content-block" id="mainFrame">

    <div class="input-element-plate">
        <input-field type="text" name="header" class="header-input-field" id="header-input-field"
                     placeholder="Заголовок"></input-field>
    </div>
    <div class="split-input-plate">
        <div class="override_input input-element-plate">
            <textarea-input-field class="publication-text-input-field" name="text" placeholder="Текст публикации"
                                  id="text-input-field"></textarea-input-field>
        </div>
        <div class="file-dnd-style-container">
            <drag-and-drop-input-image-form class="file-dnd-style" id="publication_preview" name='preview'
                                            target="превью"></drag-and-drop-input-image-form>
        </div>
    </div>
    <div class="file-dnd-style-container">
        <drag-and-drop-image-form class="file-dnd-style" id="publication_photos" name="photos" multi="true"
                                  target="файлы"></drag-and-drop-image-form>
    </div>
    <button type="submit" class="accent-button" id="submit_publication">Опубликовать</button>
</div>