<div class="login-form">
    <div class="login-form-header">Вход</div>
    <div class="form-input-fields">
        <div class="input-with-label">
            <label class="data-input-label" for="Login">Логин</label>
            <input class="data-input-field" type="text" name="Логин" id="Login">
        </div>
        <div class="input-with-label">
            <label class="data-input-label" for="Password">Пароль</label>
            <input class="data-input-field" type="password" name="Пароль" id="Password">
        </div>
    </div>
    <button class="accent-button" id="js-login">Далее</button>

</div>