    <div class="publication-preview-content">
        <div class="publication-header">{post_header}</div>
        <a class="author-link" id="post-author-btn">{post_author_name}</a>
        <div class="publication-text">{post_text}</div>
    </div>
<!--    <img class="preview-image" src="{img_url}" alt=""/>-->
