<div class="photosession-record-slot">
    <div class="left-block">
    <div class="header">Для записи на фотосессию нам потребуются ваши контактные данные</div>
        <div class="inputs">
            <input-field class="input-with-label" text="Как вас зовут?" id="name-{id}"></input-field>
            <input-field class="input-with-label" text="Ваш Email" id="email-{id}" type="email"></input-field>
        </div>
    </div>
    <button class="accent-button" id="submit-button-{id}">Записаться</button>
</div>