<div class="photosession-addition-slot">
    <div class="addition-datetime">
        <input-field type="time" class="time-input" id="start-time-{id}" text="c"></input-field>
        <input-field class="time-input" type="time" id="end-time-{id}" text="до"></input-field>
    </div>
    <input-field class="input-with-label" text="Описание события" id="description-{id}"></input-field>
    <input-field class="input-with-label date" text="Дата" id="photosession-date-{id}" type="date"></input-field>
    <input-field class="input-with-label" text="Цена" id="photosession-cost-{id}"></input-field>
    <button class="accent-button" id="submit-button-{id}">Создать</button>
</div>