<div class="photosession-slot">
    <div class="datetime">
        <div class="timespan">
            {startDate} - {endDate}
        </div>
        <div class="time">
            {totalTime}
        </div>
    </div>
    <div class="info">
        <div class="description">
            {name}
        </div>
        <div class="author">
            {authorProfileName}
        </div>
    </div>
    <div class="price">
        {price}р
    </div>
</div>