<div class="login-form">
    <div class="login-form-header">Регистрация</div>
    <div class="form-input-fields">
        <drag-and-drop-image-form class="file-dnd-style" id="Photo" target='фото профиля'></drag-and-drop-image-form>
    </div>
    <button class="accent-button" id="complete-registration">Зарегистрироваться</button>
</div>