<div class="login-form">
  <div class="login-form-header">Регистрация</div>
  <div class="form-input-fields">
    <input-field class="input-with-label" id="Email" type="email" text="Email"></input-field>
    <input-field class="input-with-label" id="Name" type="text" text="Ваше имя"></input-field>
    <input-field class="input-with-label" id="Surname" type="text" text="Ваша фамилия"></input-field>
  </div>
  <button class="accent-button" id="next-button">Далее</button>
</div>