<div class="login-form">
    <div class="login-form-header">Регистрация</div>
    <div class="form-input-fields">
        <input-field class="input-with-label" id="Profile_name" type="text" text="Придумайте имя профиля"></input-field>
        <input-field class="input-with-label" id="Login" type="text" text="Придумайте логин"></input-field>
        <input-field class="input-with-label" id="Password" type="password" text="Придумайте пароль"></input-field>
        <input-field class="input-with-label" id="Repeat_Password" type="password" text="Повторите пароль"></input-field>
    </div>
    <button class="accent-button" id="next-button">Далее</button>
</div>