.author-card-plate {
    margin: 2rem;
    background-color: white;
    border-radius: 16px;
    width: 70%;
    overflow: hidden;
    align-items: flex-start;
    justify-content: space-between;
    display: inline-flex;
    transition: all 0.2s;
    text-decoration: none;
    color: black;
    padding-left: 3rem;

    background: linear-gradient(135deg, #FFFFFF 0%, #FFFFFF 100%);
    box-shadow: -5px 5px 10px rgba(221, 221, 221, 0.2), 5px -5px 10px rgba(221, 221, 221, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(221, 221, 221, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(221, 221, 221, 0.5);
}

@media (max-width: 1200px) {
    .author-card-plate {
        width: 95%;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 7rem;
        padding: 5rem;
        box-sizing: border-box;
    }
}

.author-card-plate .publication-preview-content {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1200px) {
    .author-card-plate .publication-preview-content {
        align-items: center;
    }
}

.author-profile-name {
    font-family: 'Montserrat', system-ui;
    font-style: normal;
    font-weight: 500;
    font-size: 8rem;
    line-height: 49px;
    letter-spacing: 0.05em;
    color: #000000;
}

@media (max-width: 1200px) {
    .author-profile-name {
        /*
        font-size: 6rem;
        */
    }
}

.author-info-field {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    max-width: 100%;
}

.field-name {
    font-family: 'Montserrat', system-ui;
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    line-height: 4rem;
    letter-spacing: 0.05em;
    color: #9C9C9C;
    margin-right: 2rem;
    display: inline-flex;
}

.field-data {
    font-family: 'Montserrat', system-ui;
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #000000;
    word-wrap: break-word;
    display: inline-flex;
}

.author-image {
    max-width: 60%;
    height: 100%;
    max-height: 600px;
    border-radius: 11px;
}

@media (max-width: 1200px) {
    .author-image {
        clip-path: circle();
        width: 90rem;
    }
}

.author-pages-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F5;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1rem;
    border-radius: 4rem;
    overflow: hidden;
    box-shadow: -5px 5px 10px rgba(221, 221, 221, 0.2), 5px -5px 10px rgba(221, 221, 221, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(221, 221, 221, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(221, 221, 221, 0.5);
}

.author-pages-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3rem 5rem;
    background: #FFFFFF;
    box-sizing: border-box;
    font-family: 'Montserrat', system-ui;
    font-style: normal;
    font-weight: 500;
    font-size: 7rem;
    letter-spacing: 0.05em;


    color: #000000;

}

.author-pages-button :active {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 19px 93px;
    background: #F1F1F1;
}

.author-pages-buttons :focus {
    outline-color: #e0e7ff;
}

.author-subpage-plate {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    gap: 2rem;
}

@media (max-width: 1200px) {
    .author-subpage-plate {
        width: 95%;
    }
}

@media (max-width: 1200px) {
    .author-subpage-plate .publication-preview-plate {
        margin: 0;
        width: 100%;
    }
}

.author-slots-subpage-plate {
    background: #FFFFFF;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(227, 227, 227, 0.5), inset -6px 6px 12px rgba(227, 227, 227, 0.2), inset 6px -6px 12px rgba(227, 227, 227, 0.2), inset -6px -6px 12px rgba(255, 255, 255, 0.9), inset 6px 6px 15px rgba(227, 227, 227, 0.9);
    border-radius: 16px;
    width: 70%;
    padding: 4rem;
    display: flex;
    flex: 1;
    box-sizing: border-box;
    flex-direction: column;
    gap: 2rem;
}

@media (max-width: 1200px) {
    .author-slots-subpage-plate {
        width: 100%;
    }
}

.author-slots-subpage-plate .button-container {
    display: flex;
    width: 100%;
    padding: 2rem 2rem 5rem;
    justify-content: flex-end;
    box-sizing: border-box;
}

@media (max-width: 1200px) {
    .author-slots-subpage-plate .button-container {
        justify-content: center;
    }
}