.carousel {
    margin: 3rem auto auto;
    background-color: white;
    position: relative;
    width: 100%;
}

image-carousel {
    width: 100%;
    align-self: center;
}

.carousel-hider {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.carousel-list {
    width: auto;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none
}

.carousel-list::-webkit-scrollbar {
    display: none;
}

.carousel-element {
    display: flex !important;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    flex-shrink: 0;
}


/* Navigation item styles */
.carousel .carousel-arrow-left,
.carousel .carousel-arrow-right {
    height: 10rem;
    width: 10rem;
    cursor: pointer;
    opacity: 0.6;
    z-index: 32;
}

@media (max-width: 1200px) {
    .carousel .carousel-arrow-left {
        display: none;
    }

    .carousel .carousel-arrow-right {
        display: none;
    }
}

.carousel .carousel-arrow-left:hover {
    opacity: 1.0;
}

.carousel .carousel-arrow-right:hover {
    opacity: 1.0;
}

.carousel .carousel-dots {
    width: 100%;
    height: auto;
    display: flex;
    z-index: 30;
    text-align: center;
    justify-content: center;
}

.carousel .dot {
    width: 2rem;
    height: 2rem;
    margin: 5px 7px;
    padding: 0;
    display: flex;
    background-color: #BBB;
    border-radius: 5px;
    cursor: pointer;
}

.carousel img {
    object-fit: contain;
    width: 100%;
    max-height: 30vw;
}

@media (max-width: 1200px) {
    .carousel img {
        object-fit: contain;
        width: 100%;
        max-height: 60vw;
    }
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
}