.use-cookie-notify {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    bottom: 1vw;
    left: 1vw;
    visibility: hidden;

    width: 100rem;
    height: 45rem;
    box-sizing: border-box;

    background: #FFFFFF;
    box-shadow: -4px 4px 8px rgba(207, 207, 207, 0.2), 4px -4px 8px rgba(207, 207, 207, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.9), 4px 4px 10px rgba(207, 207, 207, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(207, 207, 207, 0.5);
    border-radius: 3rem;
    padding: 6rem;

}

/* Styles for phones */
@media only screen and (max-width: 800px) {
    /* Add styles for devices with a maximum width of 480px, such as phones */
    .use-cookie-notify {
        width: 100%;
        height: 50rem;
        border-radius: 3rem;
        padding: 6rem;

    }

    .use-cookie-notify-buttons {
        width: 100%;
    }
}

.use-cookie-notify-text {
    font-size: 6rem;
    font-family: Montserrat, system-ui;
    color: #464646

}

.js-accept-cookies {
    font-family: Montserrat, system-ui;
    font-size: 7rem;
    background: #E0E7FF;
    box-shadow: -5px 5px 10px rgba(230, 230, 230, 0.2), 5px -5px 10px rgba(230, 230, 230, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(230, 230, 230, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(230, 230, 230, 0.5);
    border-radius: 16px;
    padding: 12px 60px;
    box-sizing: border-box;
}

.js-reject-cookies {
    font-family: Montserrat, system-ui;
    font-size: 4rem;
    color: #939393;
    flex-basis: auto;
    display: flex;
    align-items: center;
}

.use-cookie-notify-buttons {
    display: flex;
    align-content: center;
    justify-content: space-between;
}
