.full-publication-plate {
    width: 70%;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    background: linear-gradient(135deg, #FFFFFF 0%, #FFFFFF 100%);
    box-shadow: -5px 5px 10px rgba(221, 221, 221, 0.2), 5px -5px 10px rgba(221, 221, 221, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(221, 221, 221, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(221, 221, 221, 0.5);
    border-radius: 16px;
    padding: 10rem;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 20px;
}

@media (max-width: 1200px) {
    .full-publication-plate {
        padding: 6rem;
        width: 100%

    }
}

.full-publication-header {
    font-family: 'Montserrat', system-ui;
    font-style: normal;
    font-weight: 500;
    font-size: 9rem;
    line-height: 59px;
    letter-spacing: 0.05em;
    margin-bottom: 27px;
    color: #000000;
    word-break: break-all;
}

@media (max-width: 1200px) {
    .full-publication-header {
        font-size: 6rem;
        margin-bottom: 10px;
    }
}

.full-publication-text {
    font-family: 'Montserrat', system-ui;
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    line-height: 30px;
    letter-spacing: 0.05em;
    padding-bottom: 27px;
    color: #000000;
    word-break: break-all;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.full-publication-image {
    padding-bottom: 15px;
}
