li:focus, button:focus, div:focus, global-search:focus, post-plate:focus, drag-and-drop-image-form:focus {
    outline: black solid 2px;
}

.header {
    background-color: rgba(0, 0, 255, 0);
    left: calc((100vw - 75vw) / 2);
    border-radius: 16px;
    z-index: 2;
    margin-top: 30px;
    width: 75%;
    justify-self: center;
    display: flex;
    gap: 27px;
    justify-content: center;
    height: calc(7rem + 3rem + 3rem);
    margin-bottom: 15px;
    overflow: visible;
}

header.hide {
    display: none;
}

@media (max-width: 1200px) {
    .header {
        width: calc(100% - 6rem);
        left: 3rem;
        margin-top: 10px;
        gap: 13px;
    }
}


.dummyShit {
    height: calc((69px) * 1 + 50px + 5px);
    background-color: #F5F5F5;
    min-height: 100%;
    min-width: 100%;
}

@media (min-width: 550px) {
    .dummyShit {
        height: calc((69px) * 1 + 50px + 5px);
    }
}

@media (max-width: 1200px) {
    .dummyShit {
        height: calc((45px) * 1 + 10px + 5px);
    }
}

.header .header-button {
    font-size: 5rem;
    height: auto;
    color: #CECECE;
    text-decoration: none;
    font-family: "Montserrat", system-ui;
    padding: 3rem;

    transition: all 0.2s;
    display: inline-flex;

    background: linear-gradient(135deg, #FFFFFF 0%, #FFFFFF 100%);
    box-shadow: -5px 5px 10px rgba(221, 221, 221, 0.2), 5px -5px 10px rgba(221, 221, 221, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(221, 221, 221, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(221, 221, 221, 0.5);
    border-radius: 58px;

    flex-shrink: 0;
    box-sizing: border-box;
}

.header .header-button:hover {
    color: #CECECE;
    background: linear-gradient(135deg, #FFFFFF 0%, #F2F2F2 100%);
    box-shadow: -3px 3px 6px rgba(212, 212, 212, 0.2), 3px -3px 6px rgba(212, 212, 212, 0.2), -3px -3px 6px rgba(255, 255, 255, 0.9), 3px 3px 8px rgba(212, 212, 212, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(212, 212, 212, 0.5);
    border-radius: 58px;
}

.header .header-button:active {
    color: #CECECE;
    background: #FFFFFF;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(217, 217, 217, 0.5), inset -3px 3px 6px rgba(217, 217, 217, 0.2), inset 3px -3px 6px rgba(217, 217, 217, 0.2), inset -3px -3px 6px rgba(255, 255, 255, 0.9), inset 3px 3px 8px rgba(217, 217, 217, 0.9);
    border-radius: 58px;
}

.header .header-button:focus {
    outline-color: #e0e7ff;
    color: #CECECE;
    background: linear-gradient(135deg, #FFFFFF 0%, #F2F2F2 100%);
    box-shadow: -3px 3px 6px rgba(212, 212, 212, 0.2), 3px -3px 6px rgba(212, 212, 212, 0.2), -3px -3px 6px rgba(255, 255, 255, 0.9), 3px 3px 8px rgba(212, 212, 212, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(212, 212, 212, 0.5);
    border-radius: 58px;
}

.header .header-button-image {
    width: 8rem;
    height: 8rem;
}

.header .header-button.circle {
    width: calc(2.5rem + 8rem + 2.5rem);
    height: calc(2.5rem + 8rem + 2.5rem);
    padding: 2.5rem;
    overflow: hidden;
}