.input-with-label {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.input-with-label .data-input-field {
    width: 100%;
    height: 12rem;
    background: rgba(224, 231, 255, 0.25);
    box-shadow: inset 1px 1px 4px -2px rgba(0, 0, 0, 0.3), inset 1px 0px 12px rgba(230, 230, 230, 0.5);
    border-radius: 3rem;
    flex: none;
    flex-grow: 0;
    border: none;
    font-family: Montserrat, system-ui;
    font-size: 6rem;
    padding: 2rem;
    box-sizing: border-box;
    color: #666666;
}

.input-with-label .data-input-field:hover {
    background: #EBEEF6;
    box-shadow: inset 0px 0px 10px 3px #DAE4FF, inset -2px 2px 4px rgba(209, 212, 219, 0.2), inset 2px -2px 4px rgba(209, 212, 219, 0.2), inset -2px -2px 4px rgba(255, 255, 255, 0.9), inset 2px 2px 5px rgba(209, 212, 219, 0.9);
}

.input-with-label .data-input-field:focus {
    background: #EBEEF8;
    box-shadow: inset -1px 1px 2px rgba(192, 194, 198, 0.2), inset 1px -1px 2px rgba(192, 194, 198, 0.2), inset -1px -1px 2px rgba(255, 255, 255, 0.9), inset 1px 1px 3px rgba(192, 194, 198, 0.9);
    caret-color: #9D8EFE;
}

.input-with-label .data-input-field:invalid {
    background: #EBEEF8;
    box-shadow: inset 0px 0px 2px 2px rgba(255, 0, 0, 0.57), inset -1px 1px 2px rgba(192, 194, 198, 0.2), inset 1px -1px 2px rgba(192, 194, 198, 0.2), inset -1px -1px 2px rgba(255, 255, 255, 0.9), inset 1px 1px 3px rgba(192, 194, 198, 0.9);
}

.input-with-label .invalid-field-message {
    font-family: 'Montserrat', system-ui;
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    line-height: 18px;
    letter-spacing: 0.05em;

    color: #C00000;

}

*:focus {
    outline: none;
}

.input-with-label .form-input-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-with-label .data-input-label {
    font-family: 'Montserrat', system-ui;
    font-style: normal;
    font-weight: 500;
    font-size: 4rem;
    letter-spacing: 0.05em;

    color: rgba(0, 0, 0, 0.6);

    flex: none;
    order: 0;
    flex-grow: 0;
}