.login-form-header {
    font-family: 'Montserrat', system-ui;
    font-style: normal;
    font-weight: 500;
    font-size: 7rem;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem;
    gap: 10rem;


    background: #FFFFFF;
    box-shadow: -4px 4px 8px rgba(207, 207, 207, 0.2), 4px -4px 8px rgba(207, 207, 207, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.9), 4px 4px 10px rgba(207, 207, 207, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(207, 207, 207, 0.5);
    border-radius: 16px;

    max-width: 450px;
    flex-shrink: 2;
}

.form-input-fields {
    display: flex;
    flex-direction: column;
    align-content: center;

    gap: 5rem;
}

.form-input-fields .file-dnd-style {
    width: 100%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 3rem;
    border-radius: 16px;
    padding: 4rem;
    transition: all 0.2s;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3),
    -1px -1px 2px rgba(222, 222, 222, 0.5),
    inset -3px 3px 6px rgba(222, 222, 222, 0.2),
    inset 3px -3px 6px rgba(222, 222, 222, 0.2),
    inset -3px -3px 6px rgba(255, 255, 255, 0.9),
    inset 3px 3px 8px rgba(222, 222, 222, 0.9);
    background: linear-gradient(135deg, #FFFFFF 0%, #FFFFFF 100%);
}

.form-input-fields .dnd-text {
    font-family: 'Montserrat', system-ui;
    font-style: normal;
    font-weight: 500;
    font-size: 4rem;
    line-height: 7rem;
    text-align: center;
    letter-spacing: 0.05em;
    margin: 4rem;
    color: rgba(0, 0, 0, 0.49);
}

.invalid-field-message {
    font-family: 'Montserrat', system-ui;
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: #C00000;
}