.photosession-slot {
    padding: 4rem 4rem 4rem 6rem;
    width: 100%;
    gap: 7rem;
    background: #FFFFFF;
    box-shadow: -10px 10px 20px rgba(235, 235, 235, 0.2), 10px -10px 20px rgba(235, 235, 235, 0.2), -10px -10px 20px rgba(255, 255, 255, 0.9), 10px 10px 25px rgba(235, 235, 235, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(235, 235, 235, 0.5);
    border-radius: 13px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    box-sizing: border-box;
    transition: .3s;
}

.photosession-slot:hover {
    border-radius: 13px;
    background: #FFF;
    box-shadow: 20px 20px 50px 0px rgba(204, 204, 204, 0.90), -20px -20px 40px 0px rgba(255, 255, 255, 0.90), 20px -20px 40px 0px rgba(204, 204, 204, 0.20), -20px 20px 40px 0px rgba(204, 204, 204, 0.20), -1px -1px 2px 0px rgba(204, 204, 204, 0.50) inset, 1px 1px 2px 0px rgba(255, 255, 255, 0.30) inset;
    transition: .3s;
}

.photosession-slot:active {
    border-radius: 13px;
    background: #F8F8F8;
    box-shadow: 5px 5px 13px 0px rgba(217, 217, 217, 0.90) inset, -5px -5px 10px 0px rgba(255, 255, 255, 0.90) inset, 5px -5px 10px 0px rgba(217, 217, 217, 0.20) inset, -5px 5px 10px 0px rgba(217, 217, 217, 0.20) inset, -1px -1px 2px 0px rgba(217, 217, 217, 0.50), 1px 1px 2px 0px rgba(255, 255, 255, 0.30);
}

.photosession-slot:focus {
    border-radius: 13px;
    background: #FFF;
    box-shadow: 15px 15px 38px 0px rgba(230, 230, 230, 0.90), -15px -15px 30px 0px rgba(255, 255, 255, 0.90), 15px -15px 30px 0px rgba(230, 230, 230, 0.20), -15px 15px 30px 0px rgba(230, 230, 230, 0.20), -1px -1px 2px 0px rgba(230, 230, 230, 0.50) inset, 1px 1px 2px 0px rgba(255, 255, 255, 0.30) inset, 0px 0px 15px 2px #CAD6FF;
}
@media (max-width: 1200px) {
    .photosession-slot {
        flex-direction: column;
        align-items: center;
        padding: 6rem;
    }
}

.photosession-slot .datetime {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 4rem 5rem;
    gap: 2rem;
    width: auto;
    background: #EBEFFF;
    border-radius: 5px;
    flex-shrink: 3;
}

@media (max-width: 1200px) {
    .photosession-slot .datetime {
        width: 100%;
        box-sizing: border-box;
        align-items: center;
    }
}

.photosession-slot .datetime .timespan {
    font-family: 'Montserrat', system-ui;
    font-style: normal;
    font-weight: 500;
    font-size: 5rem;
    /* identical to box height */
    color: #000000;
}

.photosession-slot .datetime .time {
    font-family: 'Montserrat', system-ui;
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.59);
    line-break: anywhere;
}

.photosession-slot .info {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}

@media (max-width: 1200px) {
    .photosession-slot .info {
        align-items: center;

    }
}

.photosession-slot .info .description {
    font-family: 'Montserrat', system-ui;
    font-style: normal;
    font-weight: 500;
    font-size: 5rem;
    line-break: anywhere;
    color: #000000;
}

@media (max-width: 1200px) {
    .photosession-slot .description {
        align-items: center;
    }
}

.photosession-slot .info .author {
    font-family: 'Montserrat', system-ui;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    color: #767676;

}

.photosession-slot .price {
    background: rgba(169, 169, 169, 0.28);
    border-radius: 10px;
    font-family: Montserrat, system-ui;
    font-style: normal;
    font-weight: 500;
    font-size: 4rem;
    /* identical to box height */
    align-self: center;
    line-break: anywhere;
    color: rgba(0, 0, 0, 0.58);
    padding: 5px 15px;
}

photosession-slot {
    width: 100%;
}

.time-input {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
    gap: 10px;
}

.addition-datetime {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem 3rem;
    gap: 2rem;
    width: auto;
    background: #EBEFFF;
    border-radius: 5px;
    flex-shrink: 0;
}

@media (max-width: 1200px) {
    .addition-datetime {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-top: 5rem;
        padding-bottom: 5rem;
        width: 100%;
    }
}

.time-input label {
    font-family: 'Montserrat', system-ui;
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    width: 6rem;
    color: #000000;
}

.time-input input {
    display: flex;
    background: #F4F7FF;
    box-shadow: inset -0.3px 0.3px 0.6px rgba(192, 194, 198, 0.2), inset 0.3px -0.3px 0.6px rgba(192, 194, 198, 0.2), inset -0.3px -0.3px 0.6px rgba(255, 255, 255, 0.9), inset 0.3px 0.3px 0.9px rgba(192, 194, 198, 0.9);
    border-radius: 4.8px;
    border: none;
    height: 6rem;
    font-size: 4rem;
    gap: 4rem;
}

.time-input input:invalid {
    background: #EBEEF8;
    box-shadow: inset 0px 0px 2px 2px rgba(255, 0, 0, 0.57), inset -1px 1px 2px rgba(192, 194, 198, 0.2), inset 1px -1px 2px rgba(192, 194, 198, 0.2), inset -1px -1px 2px rgba(255, 255, 255, 0.9), inset 1px 1px 3px rgba(192, 194, 198, 0.9);
}


.time-input .invalid-field-message {
    display: none;
}

.photosession-addition-slot {
    padding: 4rem 4rem 4rem 6rem;
    width: 100%;
    gap: 12rem;
    background: #FFFFFF;
    box-shadow: -10px 10px 20px rgba(235, 235, 235, 0.2), 10px -10px 20px rgba(235, 235, 235, 0.2), -10px -10px 20px rgba(255, 255, 255, 0.9), 10px 10px 25px rgba(235, 235, 235, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(235, 235, 235, 0.5);
    border-radius: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    transition: .3s;
}

.photosession-addition-slot:hover {
    border-radius: 13px;
    background: #FFF;
    box-shadow: 20px 20px 50px 0px rgba(204, 204, 204, 0.90), -20px -20px 40px 0px rgba(255, 255, 255, 0.90), 20px -20px 40px 0px rgba(204, 204, 204, 0.20), -20px 20px 40px 0px rgba(204, 204, 204, 0.20), -1px -1px 2px 0px rgba(204, 204, 204, 0.50) inset, 1px 1px 2px 0px rgba(255, 255, 255, 0.30) inset;
    transition: .3s;
}

.photosession-addition-slot:focus {
    border-radius: 13px;
    background: #FFF;
    box-shadow: 15px 15px 38px 0px rgba(230, 230, 230, 0.90), -15px -15px 30px 0px rgba(255, 255, 255, 0.90), 15px -15px 30px 0px rgba(230, 230, 230, 0.20), -15px 15px 30px 0px rgba(230, 230, 230, 0.20), -1px -1px 2px 0px rgba(230, 230, 230, 0.50) inset, 1px 1px 2px 0px rgba(255, 255, 255, 0.30) inset, 0px 0px 15px 2px #CAD6FF;
}

@media (max-width: 1200px) {
    .photosession-addition-slot {
        flex-direction: column;
        align-items: center;
        gap: 7rem;
    }
}

.photosession-addition-slot .input-with-label {
    align-self: center;
    gap: 0.5rem;
}
@media (max-width: 1200px) {
    .photosession-addition-slot .input-with-label {
        width: 100%;
    }
}

.photosession-addition-slot .data-input-field {
    height: 6rem;
    border-radius: 3px;
    font-size: 4rem;
}


.photosession-addition-slot .input-with-label.date .data-input-field {
    height: 6rem;
    border-radius: 3px;
    font-size: 4rem;
    padding: 0;
}

.photosession-addition-slot .data-input-label {
    font-size: 3rem;
}

.photosession-addition-slot .invalid-field-message {
    font-size: 2rem;
}

photosession-addition-slot {
    position: relative;
}

.photosession-slot-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    position: relative;
}

.photosession-record-slot {
    padding: 20px 20px 20px 30px;
    width: 100%;
    gap: 60px;
    background: #FFFFFF;
    box-shadow: -10px 10px 20px rgba(235, 235, 235, 0.2), 10px -10px 20px rgba(235, 235, 235, 0.2), -10px -10px 20px rgba(255, 255, 255, 0.9), 10px 10px 25px rgba(235, 235, 235, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(235, 235, 235, 0.5);
    border-radius: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}

.photosession-record-slot:hover {
    border-radius: 13px;
    background: #FFF;
    box-shadow: 20px 20px 50px 0px rgba(204, 204, 204, 0.90), -20px -20px 40px 0px rgba(255, 255, 255, 0.90), 20px -20px 40px 0px rgba(204, 204, 204, 0.20), -20px 20px 40px 0px rgba(204, 204, 204, 0.20), -1px -1px 2px 0px rgba(204, 204, 204, 0.50) inset, 1px 1px 2px 0px rgba(255, 255, 255, 0.30) inset;
    transition: .3s;
}

.photosession-record-slot:focus {
    border-radius: 13px;
    background: #FFF;
    box-shadow: 15px 15px 38px 0px rgba(230, 230, 230, 0.90), -15px -15px 30px 0px rgba(255, 255, 255, 0.90), 15px -15px 30px 0px rgba(230, 230, 230, 0.20), -15px 15px 30px 0px rgba(230, 230, 230, 0.20), -1px -1px 2px 0px rgba(230, 230, 230, 0.50) inset, 1px 1px 2px 0px rgba(255, 255, 255, 0.30) inset, 0px 0px 15px 2px #CAD6FF;
}

@media (max-width: 1200px) {
    .photosession-record-slot {
        flex-direction: column;
        align-items: center;
    }
}

.photosession-record-slot .input-with-label {
    align-self: center;
}

.photosession-record-slot .data-input-field {
    height: 30px;
    border-radius: 3px;
    font-size: 4rem;
}

.photosession-record-slot .data-input-label {
    font-size: 2rem;
    margin-bottom: 5px;
    margin-top: 0;
}

.photosession-record-slot .header {
    all: initial;
    font-family: 'Montserrat', system-ui;
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    /* identical to box height */

    letter-spacing: 0.05em;

    color: #000000;
}

.photosession-record-slot .inputs {
    display: flex;
    justify-content: space-between;
    gap: 45px;
}

@media (max-width: 1200px) {
    .photosession-record-slot .inputs {
        flex-direction: column;
        align-items: center;
    }
}

.photosession-record-slot .left-block {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 17px;
    flex: 3;
}

@media (max-width: 1200px) {
    .photosession-record-slot .left-block {
        flex-direction: column;
        align-items: center;
    }
}

.photosession-record-slot .accent-button {
    align-self: center;
}

.photosession-record-slot .reject-button {
    font-family: Montserrat, system-ui;
    font-size: 5rem;
    color: #939393;
    flex-basis: auto;
    display: flex;
    align-items: center;
    border: none;
    background: none;
}

.record-slot {
    padding: 20px 20px 20px 30px;
    width: 90%;
    gap: 60px;
    background: #FFFFFF;
    box-shadow: -10px 10px 20px rgba(235, 235, 235, 0.2), 10px -10px 20px rgba(235, 235, 235, 0.2), -10px -10px 20px rgba(255, 255, 255, 0.9), 10px 10px 25px rgba(235, 235, 235, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(235, 235, 235, 0.5);
    border-radius: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    transition: .3s;
}

.record-slot:hover {
    border-radius: 13px;
    background: #FFF;
    box-shadow: 20px 20px 50px 0px rgba(204, 204, 204, 0.90), -20px -20px 40px 0px rgba(255, 255, 255, 0.90), 20px -20px 40px 0px rgba(204, 204, 204, 0.20), -20px 20px 40px 0px rgba(204, 204, 204, 0.20), -1px -1px 2px 0px rgba(204, 204, 204, 0.50) inset, 1px 1px 2px 0px rgba(255, 255, 255, 0.30) inset;
    transition: .3s;
}

.record-slot:focus {
    border-radius: 13px;
    background: #FFF;
    box-shadow: 15px 15px 38px 0px rgba(230, 230, 230, 0.90), -15px -15px 30px 0px rgba(255, 255, 255, 0.90), 15px -15px 30px 0px rgba(230, 230, 230, 0.20), -15px 15px 30px 0px rgba(230, 230, 230, 0.20), -1px -1px 2px 0px rgba(230, 230, 230, 0.50) inset, 1px 1px 2px 0px rgba(255, 255, 255, 0.30) inset, 0px 0px 15px 2px #CAD6FF;
}

.record-slot .email {
    font-family: 'Montserrat', system-ui;
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    color: #767676;
}

.record-slot .name {
    font-family: 'Montserrat', system-ui;
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    /* identical to box height */
    letter-spacing: 0.05em;
    color: #000000;
}

.record-slot .contacts {
    display: flex;
    flex-direction: column;
}

.photosession-success-slot {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, system-ui;
    font-size: 5rem;

    padding: 20px 20px 20px 30px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: -10px 10px 20px rgba(235, 235, 235, 0.2), 10px -10px 20px rgba(235, 235, 235, 0.2), -10px -10px 20px rgba(255, 255, 255, 0.9), 10px 10px 25px rgba(235, 235, 235, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(235, 235, 235, 0.5);
    border-radius: 13px;
    flex-direction: row;
    box-sizing: border-box;
}