.header-input-field {
    background-color: white;
    border: none;
    width: 100%;
    height: 100%;
    font-family: Montserrat, system-ui;
    font-weight: bold;
    font-size: 9rem;
    overflow: visible;
}

.header-input-field:focus {
    outline: none !important;
}

.publication-text-input-field {
    border: none;
    font-family: "Montserrat", system-ui;
    min-height: 300px;
    width: 100%;
}

.publication-text-input-field:focus {
    outline: none !important;
}

.split-input-plate {
    display: flex;
    width: 60vw;
    gap: 30px;

}

@media (max-width: 1200px) {
    .split-input-plate {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
}

.submit-input {
    display: flex;
    justify-content: space-around;
}

input[type=file] {
    display: none;
}

.preview {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: .5rem;
    gap: 5rem;
}

.preview-image {
    position: relative;
    margin-bottom: .5rem;
    margin-right: .5rem;
    overflow: visible;
}

.preview-image.removing {
    transform: scale(0);
    transition: transform .3s;
}

.preview-image .preview-image-thumbnail {
    max-width: 36rem;
    object-fit: contain;
    border-radius: 16px;
}

.preview-remove {
    padding: 0;
    width: 4rem;
    height: 4rem;
    font-size: 4rem;
    position: absolute;
    right: -2rem;
    top: -2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: opacity .22s;
    clip-path: circle();
    border: none;
    background: #D9D9D9;
    box-shadow: 1.1999953985214233px 1.1999953985214233px 3.5999860763549805px 0px rgba(208, 208, 208, 0.90), -1.1999953985214233px -1.1999953985214233px 2.3999907970428467px 0px rgba(226, 226, 226, 0.90), 1.1999953985214233px -1.1999953985214233px 2.3999907970428467px 0px rgba(208, 208, 208, 0.20), -1.1999953985214233px 1.1999953985214233px 2.3999907970428467px 0px rgba(208, 208, 208, 0.20), -1.1999953985214233px -1.1999953985214233px 2.3999907970428467px 0px rgba(208, 208, 208, 0.50) inset, 1.1999953985214233px 1.1999953985214233px 2.3999907970428467px 0px rgba(226, 226, 226, 0.30) inset;
}

.close-button-ico {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.preview-remove:hover {
    width: 5rem;
    height: 5rem;
    right: -2.5rem;
    top: -2.5rem;
}

.preview-info {
    position: absolute;
    right: 0;
    bottom: -30px;
    left: 0;
    height: 24px;
    font-size: .8rem;
    background: rgba(255, 255, 255, .5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    transition: bottom .22s;
}

.preview-info-progress {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: #42b983;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width .22s;
}

.header-input-field .data-input-field {
    background-color: white;
    border: none;
    font-family: Montserrat, system-ui;
    font-weight: bold;
    font-size: 9rem;
    overflow: visible;
    width: 100%;
}


.header-input-field .data-input-field:focus {
    outline: none !important;
}

.publication-text-input-field .data-input-field {
    border: none;
    font-family: "Montserrat", system-ui;
    min-height: 300px;
    width: 100%;
    resize: none;
}

.publication-text-input-field .data-input-field:invalid {
    background: #EBEEF8;
    box-shadow: inset 0px 0px 2px 2px rgba(255, 0, 0, 0.57), inset -1px 1px 2px rgba(192, 194, 198, 0.2), inset 1px -1px 2px rgba(192, 194, 198, 0.2), inset -1px -1px 2px rgba(255, 255, 255, 0.9), inset 1px 1px 3px rgba(192, 194, 198, 0.9);
}

.publication-text-input-field .data-input-field:focus {
    outline: none !important;
}

.header-input-field .invalid-field-message {
    font-family: 'Montserrat', system-ui;
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: #C00000;
}

.drop-container {
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed #555;
    color: #444;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover {
    background: #eee;
    border-color: #111;
}

.drop-container:hover .drop-title {
    color: #222;
}

.drop-title {
    color: #444;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
}

.publication-form {
    display: flex;
!important;
}

.submit-button {
    background-color: deepskyblue;
    color: white;
    border-radius: 12px;
    border: none;
    padding: 5px 10px;
    font-family: "Montserrat", system-ui;
    font-size: 4rem;
    margin-left: auto;
}

.publication-plate {
    background-color: white;
    width: 70%;
    padding: 20px;
    padding-top: 10px;
    margin: 10px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}

.pub-header {
    font-family: "Montserrat ExtraBold", system-ui;
    font-size: 9rem;
}

.publication-image {
    max-height: 700px;
    border-radius: 16px;
    align-self: flex-end;
}

.input-element-plate {
    border-radius: 16px;
    width: 60vw;
    padding: 20px;
    box-sizing: border-box;
    transition: all 0.2s;
    background: #FFFFFF;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3),
    -1px -1px 2px rgba(222, 222, 222, 0.5),
    inset -3px 3px 6px rgba(222, 222, 222, 0.2),
    inset 3px -3px 6px rgba(222, 222, 222, 0.2),
    inset -3px -3px 6px rgba(255, 255, 255, 0.9),
    inset 3px 3px 8px rgba(222, 222, 222, 0.9);
    background: linear-gradient(135deg, #FFFFFF 0%, #FFFFFF 100%);
}

@media (max-width: 1200px) {
    .input-element-plate {
        width: 80vw;
    }
}

.file-dnd-style-container {
    box-sizing: border-box;
    width: 60vw;
    background: #FFFFFF;
    border-radius: 16px;
    padding: 4rem;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3),
    -1px -1px 2px rgba(222, 222, 222, 0.5),
    inset -3px 3px 6px rgba(222, 222, 222, 0.2),
    inset 3px -3px 6px rgba(222, 222, 222, 0.2),
    inset -3px -3px 6px rgba(255, 255, 255, 0.9),
    inset 3px 3px 8px rgba(222, 222, 222, 0.9);
    background: linear-gradient(135deg, #FFFFFF 0%, #FFFFFF 100%);
}

@media (max-width: 1200px) {
    .file-dnd-style-container {
        width: 80vw;
    }
}

.file-dnd-style-container .invalid-field-message {
    font-family: 'Montserrat', system-ui;
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: #C00000;

}
.file-dnd-style {
    width: 100%;
    height: 100%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.2s;
    box-sizing: border-box;
    background: #FFFFFF;
    gap: 6rem;
}

.dnd-text {
    font-family: 'Montserrat', system-ui;
    font-style: normal;
    font-weight: 500;
    font-size: 4rem;
    line-height: 7rem;
    text-align: center;
    letter-spacing: 0.05em;
    color: rgba(0, 0, 0, 0.49);
}

.content-block.publish-content-block {
    gap: 30px
}

.error-message {
    font-family: 'Montserrat', system-ui;
    font-style: normal;
    font-weight: 500;
    font-size: 6rem;
    letter-spacing: 0.05em;
    color: #C00000;
}