.publication-preview-plate {
    margin-bottom: 20px;
    background-color: white;
    border-radius: 16px;
    width: 70%;
    overflow: hidden;
    align-items: flex-start;
    justify-content: space-between;
    display: inline-flex;
    transition: all 0.2s;
    text-decoration: none;
    color: black;

    background: linear-gradient(135deg, #FFFFFF 0%, #FFFFFF 100%);
    box-shadow: -5px 5px 10px rgba(221, 221, 221, 0.2), 5px -5px 10px rgba(221, 221, 221, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(221, 221, 221, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(221, 221, 221, 0.5);
}

@media (max-width: 1200px) {
    .publication-preview-plate {
        flex-direction: column;
        align-items: flex-start;
        width: 90%;
        margin-left: 20px;
        margin-right: 20px;
    }
}


.publication-preview-plate:hover {
    transform: scale(1.02);
    color: black;
}
.publication-preview-plate:focus {
    transform: scale(1.02);
    color: black;
    outline-color: #e0e7ff;
}
.publication-preview-plate .publication-header {
    font-family: 'Montserrat', system-ui;
    font-size: 9rem;
    font-weight: 600;
    overflow: hidden;
    width: 100%;
}

@media (max-width: 1200px) {
    .publication-preview-plate .publication-header {
        font-family: 'Montserrat', system-ui;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0.02em;

        color: #000000;
    }
}

.publication-preview-plate .publication-preview-content {
    padding: 20px 20px 20px 30px;
    flex-direction: column;
    min-width: 0;
    width: 100%;
    flex-shrink: 2;
    overflow: hidden;
    height: 100%;
    max-height: 600px;
}

.publication-preview-plate .publication-text {
    font-family: "Montserrat", system-ui;
    padding-top: 10px;
    font-size: 4rem;
    word-break: break-all;
    font-weight: 200;

}

@media (max-width: 1200px) {
    .publication-preview-plate .publication-text {
        font-family: 'Montserrat', system-ui;
        font-weight: 300;
        color: #000000;
    }
}

.publication-preview-plate .preview-image {
    max-width: 60%;
    height: 100%;
    max-height: 600px;
    border-radius: 11px;
}

@media (max-width: 1200px) {
    .publication-preview-plate .preview-image {
        max-width: 100%;
        align-self: center;
    }
}

.publication-preview-plate .author-link {
    font-family: Montserrat, system-ui;
    text-decoration-line: underline;
    font-size: 3rem;
    color: gray;
}