.search {
    flex-shrink: 2;
    width: 100%;
    min-width: 210px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.search:active {
    color: #CECECE;
    background: #FFFFFF;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(217, 217, 217, 0.5), inset -3px 3px 6px rgba(217, 217, 217, 0.2), inset 3px -3px 6px rgba(217, 217, 217, 0.2), inset -3px -3px 6px rgba(255, 255, 255, 0.9), inset 3px 3px 8px rgba(217, 217, 217, 0.9);
    border-radius: 58px;
}

@media (max-width: 1200px) {
    .search {
        padding-right: 2px;
        min-width: 50px;
    }
}

.search .search-content {
    width: 100%;
    height: 100%;
}

.search .search-content.active {
    height: auto;
    display: flex;
    flex-direction: column;

    background: #FFFFFF;
    box-shadow: -5px 5px 10px rgba(221, 221, 221, 0.2), 5px -5px 10px rgba(221, 221, 221, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(221, 221, 221, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(221, 221, 221, 0.5);
    border-radius: 20px;
}

.search .search-content.active.contains-post {

    gap: 20px;
}

.search .bar {

    padding: 3rem 3rem 3rem 5rem;
    width: 100%;
    height: 100%;
    border-radius: 58px;
    overflow: hidden;
    background: linear-gradient(135deg, #FFFFFF 0%, #FFFFFF 100%);
    box-shadow: -5px 5px 10px rgba(221, 221, 221, 0.2), 5px -5px 10px rgba(221, 221, 221, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(221, 221, 221, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(221, 221, 221, 0.5);
    box-sizing: border-box;
    flex-shrink: 0;
}

.search .bar.active {

    border-radius: 20px;
}

.search .input-bar {
    font-family: Montserrat, system-ui;
    color: #CECECE;
    font-size: 6rem;
    line-height: 10rem;
    width: 100%;
    height: 100%;
    border: none;
}

.search .modal-background {
    display: none;
    position: fixed;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.search .publication-preview-plate {
    min-height: 200px;
    flex-shrink: 0;
}

.search .post-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow: scroll;
    scrollbar-width: none;
    max-height: calc(90vh - 69px - 30px - 30px);
}

.search .post-container::-webkit-scrollbar {
    display: none;
}

