html {
    font-size: 0.25vw;
    padding-top: 0;
    position: relative;
    min-height: 100%;
    background-color: #f5f5f5;
}

@media (max-width: 1200px) {
    html {
        font-size: 0.9vw;
    }
}


body {
    margin-bottom: 60px;
    background-color: #f5f5f5;
    font-family: Arial, system-ui;
}

.accent-button {
    padding: 2rem 5rem;
    gap: 10px;
    border: none;
    align-self: center;
    font-family: Montserrat, system-ui;
    font-size: 5rem;
    color: #525252;

    background: #E0E7FF;
    box-shadow: -5px 5px 10px rgba(230, 230, 230, 0.2),
    5px -5px 10px rgba(230, 230, 230, 0.2),
    -5px -5px 10px rgba(255, 255, 255, 0.9),
    5px 5px 13px rgba(230, 230, 230, 0.9),
    inset 1px 1px 2px rgba(255, 255, 255, 0.3),
    inset -1px -1px 2px rgba(230, 230, 230, 0.5);
    border-radius: 16px;
    transition: all 0.1s ease-in-out;
}

@media (max-width: 1200px) {
    .accent-button {
        font-size: 4rem;
    }
}

.accent-button:hover {
    background: #CAD6FF;
    box-shadow: 22px 11px 10px rgba(0, 0, 0, 0.01), 12px 6px 8px rgba(0, 0, 0, 0.05), 5px 3px 6px rgba(0, 0, 0, 0.09), 1px 1px 3px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    transform: translate(-1px, -1px);
}

.accent-button:hover::before {
    background: #CAD6FF;
    box-shadow: 22px 11px 10px rgba(0, 0, 0, 0.01), 12px 6px 8px rgba(0, 0, 0, 0.05), 5px 3px 6px rgba(0, 0, 0, 0.09), 1px 1px 3px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    transform: translate(1px, 1px);
}

.accent-button:active {
    transform: translate(1px, 1px);
    background: #B4C4FF;
    box-shadow: 5px -5px 10px rgba(230, 230, 230, 0.2), 5px 5px 13px rgba(230, 230, 230, 0.9), inset 0px 6px 8px 3px rgba(0, 0, 0, 0.13), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(230, 230, 230, 0.5);
    border-radius: 16px;
}

.accent-button:active::before {
    transform: translate(-1px, -1px);
}

.accent-button:disabled {
    background: #EFF3FF;
    box-shadow: -5px 5px 10px rgba(230, 230, 230, 0.2), 5px -5px 10px rgba(230, 230, 230, 0.2), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(230, 230, 230, 0.5);
    border-radius: 16px;

}

.accent-button.disabled {
    background: #EFF3FF;
    box-shadow: -5px 5px 10px rgba(230, 230, 230, 0.2), 5px -5px 10px rgba(230, 230, 230, 0.2), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(230, 230, 230, 0.5);
    border-radius: 16px;

}

.accent-button:focus {
    outline: none;
    background: #CAD6FF;
    box-shadow: 22px 11px 10px rgba(0, 0, 0, 0.01), 12px 6px 8px rgba(0, 0, 0, 0.05), 5px 3px 6px rgba(0, 0, 0, 0.09), 1px 1px 3px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    transform: translate(-1px, -1px);
}

@media (max-width: 1200px) {
    .login-form {
        padding: 20px;
        justify-content: flex-start;
        gap: 30px;
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-area {
    margin: 0 300px 300px;
    background-color: gray;
}

.content-block {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100%;
    width: 100%;
}